In [ ]:
# There are two CSVs in the data folder with fake CIN census data. One is the Child Characteristics file, one is Child Identifiers.
# Using the example below for help, assign child identifiers to a suitably named variable. 
# The filepath you need is: '/workspaces/D2I-Jupyter-Notebook-Tools/ERN-worksheets/data/ChildIdentifiers.csv'
# Use the .info() method to find out about the tables
# Merge child idenfitiers with child characteristics on a suitable column shared between both tables.
# Convert all columns with dates to datetime
# The allowed gender codes for this table are 0, 1, 2, and 9, slice out a dataframe (suitably named) with only rows where this rule is violated
# Can you find any rows where someone's death date is before their birth date?
# Can you find any rows where someone has an expected birth date and an actual birth date, which should not happen?
# Can you find the average age of all children who refused to have their ethnicity taken down and wfor whom the information is not yet obtained 
# (knowing Ethnicity codes are REFU and NOBT)

In [14]:
import pandas as pd

characteristics = pd.read_csv('/workspaces/D2I-Jupyter-Notebook-Tools/ERN-worksheets/data/ChildCharacteristics.csv')
identifiers = pd.read_csv('/workspaces/D2I-Jupyter-Notebook-Tools/ERN-worksheets/data/ChildIdentifiers.csv')

df = pd.merge(characteristics, identifiers, how='left', on='LAchildID')
df

,Unnamed: 0_x,LAchildID,Ethnicity,Unnamed: 0_y,UPN,FormerUPN,UPNunknown,PersonBirthDate,ExpectedPersonBirthDate,GenderCurrent,PersonDeathDate
0,0,RND000215205141,WIRT,0,A850728973744,NaN,NaN,2019-12-06,NaN,1,NaN
1,1,RND000824303014,WROM,1,A141396438491,NaN,NaN,2011-04-27,NaN,9,NaN
2,2,RND000750143123,AOTH,2,A929946861554,NaN,NaN,2017-06-06,2019-12-06,1,NaN
3,3,RND000909164501,MWBC,3,A612330267292,NaN,NaN,2014-10-03,NaN,0,NaN
4,4,RND000382171815,APKN,4,A604459366806,NaN,NaN,2019-09-25,NaN,2,NaN
...,...,...,...,...,...,...,...,...,...,...,...
327,327,RND000112711501,WOTH,327,A465246916125,NaN,NaN,2010-07-07,NaN,2,NaN
328,328,RND000513120794,WROM,328,A540014111973,NaN,NaN,2018-08-14,NaN,2,NaN
329,329,RND000541643134,BCRB,329,A549582689058,NaN,NaN,2021-12-09,NaN,51,NaN
330,330,RND000404939452,AIND,330,A889492349196,NaN,NaN,2013-07-23,NaN,2,NaN
331,331,RND000589802835,WBRI,331,A877624860226,NaN,NaN,2021-10-25,NaN,9,NaN