In [1]:
from sqlalchemy import create_engine, inspect

#                       dialect+driver://username:password@server
engine = create_engine('sqlite+pysqlite://///workspaces/D2I-Jupyter-Notebook-Tools/SQL_training/chinook.db', echo=True)

connection = engine.connect()
inspection = inspect(engine)
inspection.get_table_names()

2023-09-28 12:23:35,233 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-28 12:23:35,234 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2023-09-28 12:23:35,236 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-28 12:23:35,251 INFO sqlalchemy.engine.Engine ROLLBACK

['albums',
 'artists',
 'customers',
 'employees',
 'genres',
 'invoice_items',
 'invoices',
 'media_types',
 'playlist_track',
 'playlists',
 'tracks']

In [2]:
from sqlalchemy import MetaData, Table

metadata = MetaData()

tracks = Table('tracks', metadata, autoload_with=engine)

# .c is the shorthand for columns in sqlalchemy
print(tracks.c.keys())

2023-09-28 12:35:40,072 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-28 12:35:40,074 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("tracks")
2023-09-28 12:35:40,076 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-28 12:35:40,077 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2023-09-28 12:35:40,078 INFO sqlalchemy.engine.Engine [raw sql] ('tracks',)
2023-09-28 12:35:40,080 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("tracks")
2023-09-28 12:35:40,080 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-28 12:35:40,081 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2023-09-28 12:35:40,082 INFO sqlalchemy.engine.Engine [raw sql] ('tracks',)
2023-09-28 12:35:40,085 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("tracks")
2023-09-28 12:35:40,085 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-28 12:35:40,087 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("IFK_TrackMediaTypeId")
2023-09-28 12:35:40,087 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-28 12:35:40,089 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("IFK_TrackGenreId")
2023-09-28 12:35:40,089 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-28 12:35:40,090 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("IFK_TrackAlbumId")
2023-09-28 12:35:40,091 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-28 12:35:40,092 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("tracks")
2023-09-28 12:35:40,092 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-28 12:35:40,093 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("IFK_TrackMediaTypeId")
2023-09-28 12:35:40,094 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-28 12:35:40,094 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("IFK_TrackGenreId")
2023-09-28 12:35:40,095 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-28 12:35:40,097 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("IFK_TrackAlbumId")
2023-09-28 12:35:40,098 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-28 12:35:40,099 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2023-09-28 12:35:40,099 INFO sqlalchemy.engine.Engine [raw sql] ('tracks',)
2023-09-28 12:35:40,103 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("media_types")
2023-09-28 12:35:40,105 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-28 12:35:40,106 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2023-09-28 12:35:40,106 INFO sqlalchemy.engine.Engine [raw sql] ('media_types',)
2023-09-28 12:35:40,108 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("media_types")
2023-09-28 12:35:40,108 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-28 12:35:40,110 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("media_types")
2023-09-28 12:35:40,110 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-28 12:35:40,111 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2023-09-28 12:35:40,112 INFO sqlalchemy.engine.Engine [raw sql] ('media_types',)
2023-09-28 12:35:40,113 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("media_types")
2023-09-28 12:35:40,114 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-28 12:35:40,115 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("media_types")
2023-09-28 12:35:40,116 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-28 12:35:40,119 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("media_types")
2023-09-28 12:35:40,119 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-28 12:35:40,121 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("media_types")
2023-09-28 12:35:40,121 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-28 12:35:40,123 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("media_types")
2023-09-28 12:35:40,123 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-28 12:35:40,124 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("media_types")
2023-09-28 12:35:40,124 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-28 12:35:40,126 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2023-09-28 12:35:40,127 INFO sqlalchemy.engine.Engine [raw sql] ('media_types',)
2023-09-28 12:35:40,129 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("genres")
2023-09-28 12:35:40,129 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-28 12:35:40,130 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2023-09-28 12:35:40,131 INFO sqlalchemy.engine.Engine [raw sql] ('genres',)
2023-09-28 12:35:40,133 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("genres")
2023-09-28 12:35:40,133 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-28 12:35:40,134 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("genres")
2023-09-28 12:35:40,135 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-28 12:35:40,136 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2023-09-28 12:35:40,137 INFO sqlalchemy.engine.Engine [raw sql] ('genres',)
2023-09-28 12:35:40,138 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("genres")
2023-09-28 12:35:40,139 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-28 12:35:40,140 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("genres")
2023-09-28 12:35:40,140 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-28 12:35:40,142 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("genres")
2023-09-28 12:35:40,143 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-28 12:35:40,144 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("genres")
2023-09-28 12:35:40,145 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-28 12:35:40,146 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("genres")
2023-09-28 12:35:40,146 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-28 12:35:40,147 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("genres")
2023-09-28 12:35:40,148 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-28 12:35:40,149 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2023-09-28 12:35:40,150 INFO sqlalchemy.engine.Engine [raw sql] ('genres',)
2023-09-28 12:35:40,151 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("albums")
2023-09-28 12:35:40,152 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-28 12:35:40,153 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2023-09-28 12:35:40,154 INFO sqlalchemy.engine.Engine [raw sql] ('albums',)
2023-09-28 12:35:40,155 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("albums")
2023-09-28 12:35:40,156 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-28 12:35:40,158 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2023-09-28 12:35:40,159 INFO sqlalchemy.engine.Engine [raw sql] ('albums',)
2023-09-28 12:35:40,160 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("albums")
2023-09-28 12:35:40,160 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-28 12:35:40,162 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("IFK_AlbumArtistId")
2023-09-28 12:35:40,162 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-28 12:35:40,164 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("albums")
2023-09-28 12:35:40,164 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-28 12:35:40,166 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("IFK_AlbumArtistId")
2023-09-28 12:35:40,166 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-28 12:35:40,167 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2023-09-28 12:35:40,168 INFO sqlalchemy.engine.Engine [raw sql] ('albums',)
2023-09-28 12:35:40,170 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("artists")
2023-09-28 12:35:40,170 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-28 12:35:40,171 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2023-09-28 12:35:40,172 INFO sqlalchemy.engine.Engine [raw sql] ('artists',)
2023-09-28 12:35:40,173 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("artists")
2023-09-28 12:35:40,174 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-28 12:35:40,175 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("artists")
2023-09-28 12:35:40,176 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-28 12:35:40,177 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2023-09-28 12:35:40,178 INFO sqlalchemy.engine.Engine [raw sql] ('artists',)
2023-09-28 12:35:40,179 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("artists")
2023-09-28 12:35:40,180 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-28 12:35:40,181 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("artists")
2023-09-28 12:35:40,181 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-28 12:35:40,182 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("artists")
2023-09-28 12:35:40,184 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-28 12:35:40,185 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("artists")
2023-09-28 12:35:40,186 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-28 12:35:40,187 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("artists")
2023-09-28 12:35:40,187 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-28 12:35:40,188 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("artists")
2023-09-28 12:35:40,189 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-28 12:35:40,190 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2023-09-28 12:35:40,190 INFO sqlalchemy.engine.Engine [raw sql] ('artists',)
2023-09-28 12:35:40,192 INFO sqlalchemy.engine.Engine ROLLBACK
['TrackId', 'Name', 'AlbumId', 'MediaTypeId', 'GenreId', 'Composer', 'Milliseconds', 'Bytes', 'UnitPrice']

In [3]:
print(repr(tracks))

Table('tracks', MetaData(), Column('TrackId', INTEGER(), table=<tracks>, primary_key=True, nullable=False), Column('Name', NVARCHAR(length=200), table=<tracks>, nullable=False), Column('AlbumId', INTEGER(), ForeignKey('albums.AlbumId'), table=<tracks>), Column('MediaTypeId', INTEGER(), ForeignKey('media_types.MediaTypeId'), table=<tracks>, nullable=False), Column('GenreId', INTEGER(), ForeignKey('genres.GenreId'), table=<tracks>), Column('Composer', NVARCHAR(length=220), table=<tracks>), Column('Milliseconds', INTEGER(), table=<tracks>, nullable=False), Column('Bytes', INTEGER(), table=<tracks>), Column('UnitPrice', NUMERIC(precision=10, scale=2), table=<tracks>, nullable=False), schema=None)

In [ ]:
# text function allows you to write sql queries 
from sqlalchemy import text

with engine.connect() as con:
    stmt = "SELECT * FROM tracks"
    results_proxy = con.execute(text(stmt))
    results = results_proxy.fetchall()

# Prints first row from results
# print(results[0])

#  
#first_row = results[0]
#print(first_row)

# Here we store the first 5 rows in a variable and then print column track names for each row
first_five_rows = results[:5]

for track in first_five_rows:
    print(track.Name)

In [4]:
from sqlalchemy import select

with engine.connect() as con:
    # stmt = select(tracks.column.name)
    stmt = select(tracks)
    # print(stmt)
    results_proxy = con.execute(stmt)
    results = results_proxy.fetchmany(size=10)
print(results)

2023-09-28 12:49:58,726 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-28 12:49:58,727 INFO sqlalchemy.engine.Engine SELECT tracks."TrackId", tracks."Name", tracks."AlbumId", tracks."MediaTypeId", tracks."GenreId", tracks."Composer", tracks."Milliseconds", tracks."Bytes", tracks."UnitPrice"
FROM tracks
2023-09-28 12:49:58,728 INFO sqlalchemy.engine.Engine [generated in 0.00274s] ()
2023-09-28 12:49:58,729 INFO sqlalchemy.engine.Engine ROLLBACK
[(1, 'For Those About To Rock (We Salute You)', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 343719, 11170334, Decimal('0.99')), (2, 'Balls to the Wall', 2, 2, 1, None, 342562, 5510424, Decimal('0.99')), (3, 'Fast As a Shark', 3, 2, 1, 'F. Baltes, S. Kaufman, U. Dirkscneider & W. Hoffman', 230619, 3990994, Decimal('0.99')), (4, 'Restless and Wild', 3, 2, 1, 'F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. Dirkscneider & W. Hoffman', 252051, 4331779, Decimal('0.99')), (5, 'Princess of the Dawn', 3, 2, 1, 'Deaffy & R.A. Smith-Diesel', 375418, 6290521, Decimal('0.99')), (6, 'Put The Finger On You', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 205662, 6713451, Decimal('0.99')), (7, "Let's Get It Up", 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 233926, 7636561, Decimal('0.99')), (8, 'Inject The Venom', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 210834, 6852860, Decimal('0.99')), (9, 'Snowballed', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 203102, 6599424, Decimal('0.99')), (10, 'Evil Walks', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 263497, 8611245, Decimal('0.99'))]

In [5]:
# imports pandas package as pd
import pandas as pd

with engine.connect() as con:
    # make a statement
    stmt = select(tracks)
    results = con.execute(stmt).fetchmany(size=10)

# Creates a table called df using the Pandas Dataframe class
df = pd.DataFrame(results)
df

2023-09-28 12:53:27,426 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-28 12:53:27,427 INFO sqlalchemy.engine.Engine SELECT tracks."TrackId", tracks."Name", tracks."AlbumId", tracks."MediaTypeId", tracks."GenreId", tracks."Composer", tracks."Milliseconds", tracks."Bytes", tracks."UnitPrice"
FROM tracks
2023-09-28 12:53:27,428 INFO sqlalchemy.engine.Engine [cached since 208.7s ago] ()
2023-09-28 12:53:27,429 INFO sqlalchemy.engine.Engine ROLLBACK

,TrackId,Name,AlbumId,MediaTypeId,GenreId,Composer,Milliseconds,Bytes,UnitPrice
0,1,For Those About To Rock (We Salute You),1,1,1,"Angus Young, Malcolm Young, Brian Johnson",343719,11170334,0.99
1,2,Balls to the Wall,2,2,1,None,342562,5510424,0.99
2,3,Fast As a Shark,3,2,1,"F. Baltes, S. Kaufman, U. Dirkscneider & W. Ho...",230619,3990994,0.99
3,4,Restless and Wild,3,2,1,"F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...",252051,4331779,0.99
4,5,Princess of the Dawn,3,2,1,Deaffy & R.A. Smith-Diesel,375418,6290521,0.99
5,6,Put The Finger On You,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",205662,6713451,0.99
6,7,Let's Get It Up,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",233926,7636561,0.99
7,8,Inject The Venom,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",210834,6852860,0.99
8,9,Snowballed,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",203102,6599424,0.99
9,10,Evil Walks,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",263497,8611245,0.99

In [9]:
from sqlalchemy import or_

with engine.connect() as con:
    stmt = select(tracks).where(or_(tracks.columns.AlbumId == 1,
                                    tracks.columns.AlbumId == 2,
                                    tracks.columns.Name == 'Princess of the Dawn'))
    #print(stmt)
    results = con.execute(stmt).fetchall()

df = pd.DataFrame(results)
df

2023-09-28 13:16:56,952 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-28 13:16:56,954 INFO sqlalchemy.engine.Engine SELECT tracks."TrackId", tracks."Name", tracks."AlbumId", tracks."MediaTypeId", tracks."GenreId", tracks."Composer", tracks."Milliseconds", tracks."Bytes", tracks."UnitPrice"
FROM tracks
WHERE tracks."AlbumId" = ? OR tracks."AlbumId" = ? OR tracks."Name" = ?
2023-09-28 13:16:56,955 INFO sqlalchemy.engine.Engine [cached since 49.06s ago] (1, 2, 'Princess of the Dawn')
2023-09-28 13:16:56,957 INFO sqlalchemy.engine.Engine ROLLBACK

,TrackId,Name,AlbumId,MediaTypeId,GenreId,Composer,Milliseconds,Bytes,UnitPrice
0,1,For Those About To Rock (We Salute You),1,1,1,"Angus Young, Malcolm Young, Brian Johnson",343719,11170334,0.99
1,2,Balls to the Wall,2,2,1,None,342562,5510424,0.99
2,5,Princess of the Dawn,3,2,1,Deaffy & R.A. Smith-Diesel,375418,6290521,0.99
3,6,Put The Finger On You,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",205662,6713451,0.99
4,7,Let's Get It Up,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",233926,7636561,0.99
5,8,Inject The Venom,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",210834,6852860,0.99
6,9,Snowballed,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",203102,6599424,0.99
7,10,Evil Walks,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",263497,8611245,0.99
8,11,C.O.D.,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",199836,6566314,0.99
9,12,Breaking The Rules,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",263288,8596840,0.99
10,13,Night Of The Long Knives,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",205688,6706347,0.99
11,14,Spellbound,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",270863,8817038,0.99

In [16]:
from sqlalchemy import func

with engine.connect() as con:
    stmt = select(func.sum(tracks.columns.Milliseconds)).where(tracks.columns.AlbumId ==3)

    results = con.execute(stmt).scalar()
print(results/(1000*60))

2023-09-28 13:28:53,182 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-28 13:28:53,183 INFO sqlalchemy.engine.Engine SELECT sum(tracks."Milliseconds") AS sum_1
FROM tracks
WHERE tracks."AlbumId" = ?
2023-09-28 13:28:53,184 INFO sqlalchemy.engine.Engine [cached since 180.8s ago] (3,)
2023-09-28 13:28:53,185 INFO sqlalchemy.engine.Engine ROLLBACK
14.301466666666666

In [22]:
with engine.connect() as con:
    stmt = select(tracks).order_by(tracks.columns.Milliseconds)
    results = con.execute(stmt).fetchall()

df = pd.DataFrame(results)

print(df[:10])

2023-09-28 13:40:25,651 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-28 13:40:25,652 INFO sqlalchemy.engine.Engine SELECT tracks."TrackId", tracks."Name", tracks."AlbumId", tracks."MediaTypeId", tracks."GenreId", tracks."Composer", tracks."Milliseconds", tracks."Bytes", tracks."UnitPrice"
FROM tracks ORDER BY tracks."Milliseconds"
2023-09-28 13:40:25,654 INFO sqlalchemy.engine.Engine [cached since 62.6s ago] ()
2023-09-28 13:40:25,665 INFO sqlalchemy.engine.Engine ROLLBACK
   TrackId                      Name  AlbumId  MediaTypeId  GenreId  \
0     2461  É Uma Partida De Futebol      200            1        1
1      168                Now Sports       18            1        4
2      170               A Statistic       18            1        4
3      178                     Oprah       18            1        4
4     3304              Commercial 1      258            1       17
5      172          The Real Problem       18            1        4
6     3310              Commercial 2      258            1       17
7     2241                     Bossa      184            1       17
8     1086             Casinha Feliz       85            1       10
9      246              Mateus Enter       24            1        7

        Composer  Milliseconds    Bytes UnitPrice
0    Samuel Rosa          1071    38747      0.99
1           None          4884   161266      0.99
2           None          6373   211997      0.99
3           None          6635   224313      0.99
4    L. Muggerud          7941   319888      0.99
5           None         11650   387360      0.99
6    L. Muggerud         21211   850698      0.99
7           None         29048   967098      0.99
8   Gilberto Gil         32287  1039615      0.99
9  Chico Science         33149  1103013      0.99

In [25]:
from sqlalchemy import case, cast, Float

with engine.connect() as con:
    # use case to get only certain criteria
    album_1 = func.sum(case((tracks.columns.AlbumId == 1, tracks.columns.Milliseconds),
                       else_ =0))
    total_length = cast(func.sum(tracks.columns.Milliseconds), Float)

    stmt = select((album_1/total_length)*100)

    results = con.execute(stmt).scalar()
print(results)

2023-09-28 13:50:19,721 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-28 13:50:19,724 INFO sqlalchemy.engine.Engine SELECT (sum(CASE WHEN (tracks."AlbumId" = ?) THEN tracks."Milliseconds" ELSE ? END) / (CAST(sum(tracks."Milliseconds") AS FLOAT) + 0.0)) * ? AS anon_1
FROM tracks
2023-09-28 13:50:19,725 INFO sqlalchemy.engine.Engine [generated in 0.00417s] (1, 0, 100)
2023-09-28 13:50:19,728 INFO sqlalchemy.engine.Engine ROLLBACK
0.17409727529457897