An engine is an interface to the database from SQLAlchemy
Connection string is details needed to find the database (including login where needed)
SQLite is a database driver

Creating an engine we use the form: "dialect+driver://username:password@host:port/database" eg, this is an example for pstgreSQl

'postgresql+psycopg2://student:datacamp@postgresql.csrrinzqubik.us-east-1.rds.amazonaws.com:5432/census'

In [42]:
from sqlalchemy import create_engine, inspect 
engine = create_engine("sqlite+pysqlite://///workspaces/D2I-Jupyter-Notebook-Tools/SQL_training/chinook.db", echo=True, ) #connection string with details to connect to db

connection = engine.connect()
inspection = inspect(engine)
inspection.get_table_names()

2023-09-21 11:04:54,853 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-21 11:04:54,855 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2023-09-21 11:04:54,855 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-21 11:04:54,856 INFO sqlalchemy.engine.Engine ROLLBACK

['albums',
 'artists',
 'customers',
 'employees',
 'genres',
 'invoice_items',
 'invoices',
 'media_types',
 'playlist_track',
 'playlists',
 'tracks']

We can use reflection to read a database and build a SQLAlchemy table

In [34]:
from sqlalchemy import MetaData, Table

# This is called 'Reflecting' and is used to reflect data from an already existing db, rather than make it
metadata = MetaData() # to reflect a table initialise a MetaDate object

print(metadata.tables.keys())

dict_keys([])

In [22]:
tracks = Table('tracks', metadata, autoload_with=engine) # use table object to initialise a table
print(tracks.name) #prints table name
print(tracks.c.keys())
print(repr(tracks)) # repr() function lets us vierw the details of our table

2023-09-21 10:53:27,511 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-21 10:53:27,513 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("tracks")
2023-09-21 10:53:27,514 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-21 10:53:27,516 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2023-09-21 10:53:27,516 INFO sqlalchemy.engine.Engine [raw sql] ('tracks',)
2023-09-21 10:53:27,517 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("tracks")
2023-09-21 10:53:27,518 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-21 10:53:27,519 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2023-09-21 10:53:27,520 INFO sqlalchemy.engine.Engine [raw sql] ('tracks',)
2023-09-21 10:53:27,521 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("tracks")
2023-09-21 10:53:27,521 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-21 10:53:27,523 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("IFK_TrackMediaTypeId")
2023-09-21 10:53:27,524 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-21 10:53:27,525 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("IFK_TrackGenreId")
2023-09-21 10:53:27,525 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-21 10:53:27,527 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("IFK_TrackAlbumId")
2023-09-21 10:53:27,527 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-21 10:53:27,529 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("tracks")
2023-09-21 10:53:27,530 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-21 10:53:27,531 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("IFK_TrackMediaTypeId")
2023-09-21 10:53:27,531 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-21 10:53:27,532 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("IFK_TrackGenreId")
2023-09-21 10:53:27,532 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-21 10:53:27,533 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("IFK_TrackAlbumId")
2023-09-21 10:53:27,534 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-21 10:53:27,536 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2023-09-21 10:53:27,536 INFO sqlalchemy.engine.Engine [raw sql] ('tracks',)
2023-09-21 10:53:27,538 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("media_types")
2023-09-21 10:53:27,539 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-21 10:53:27,540 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2023-09-21 10:53:27,541 INFO sqlalchemy.engine.Engine [raw sql] ('media_types',)
2023-09-21 10:53:27,542 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("media_types")
2023-09-21 10:53:27,543 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-21 10:53:27,544 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("media_types")
2023-09-21 10:53:27,544 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-21 10:53:27,545 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2023-09-21 10:53:27,546 INFO sqlalchemy.engine.Engine [raw sql] ('media_types',)
2023-09-21 10:53:27,547 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("media_types")
2023-09-21 10:53:27,547 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-21 10:53:27,548 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("media_types")
2023-09-21 10:53:27,549 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-21 10:53:27,551 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("media_types")
2023-09-21 10:53:27,552 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-21 10:53:27,553 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("media_types")
2023-09-21 10:53:27,554 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-21 10:53:27,555 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("media_types")
2023-09-21 10:53:27,555 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-21 10:53:27,556 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("media_types")
2023-09-21 10:53:27,557 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-21 10:53:27,558 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2023-09-21 10:53:27,559 INFO sqlalchemy.engine.Engine [raw sql] ('media_types',)
2023-09-21 10:53:27,563 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("genres")
2023-09-21 10:53:27,565 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-21 10:53:27,566 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2023-09-21 10:53:27,566 INFO sqlalchemy.engine.Engine [raw sql] ('genres',)
2023-09-21 10:53:27,567 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("genres")
2023-09-21 10:53:27,567 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-21 10:53:27,568 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("genres")
2023-09-21 10:53:27,569 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-21 10:53:27,570 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2023-09-21 10:53:27,571 INFO sqlalchemy.engine.Engine [raw sql] ('genres',)
2023-09-21 10:53:27,571 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("genres")
2023-09-21 10:53:27,572 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-21 10:53:27,573 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("genres")
2023-09-21 10:53:27,573 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-21 10:53:27,575 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("genres")
2023-09-21 10:53:27,575 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-21 10:53:27,576 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("genres")
2023-09-21 10:53:27,577 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-21 10:53:27,577 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("genres")
2023-09-21 10:53:27,578 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-21 10:53:27,579 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("genres")
2023-09-21 10:53:27,580 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-21 10:53:27,580 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2023-09-21 10:53:27,581 INFO sqlalchemy.engine.Engine [raw sql] ('genres',)
2023-09-21 10:53:27,583 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("albums")
2023-09-21 10:53:27,583 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-21 10:53:27,584 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2023-09-21 10:53:27,585 INFO sqlalchemy.engine.Engine [raw sql] ('albums',)
2023-09-21 10:53:27,585 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("albums")
2023-09-21 10:53:27,586 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-21 10:53:27,587 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2023-09-21 10:53:27,587 INFO sqlalchemy.engine.Engine [raw sql] ('albums',)
2023-09-21 10:53:27,588 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("albums")
2023-09-21 10:53:27,589 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-21 10:53:27,590 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("IFK_AlbumArtistId")
2023-09-21 10:53:27,590 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-21 10:53:27,591 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("albums")
2023-09-21 10:53:27,591 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-21 10:53:27,592 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("IFK_AlbumArtistId")
2023-09-21 10:53:27,593 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-21 10:53:27,593 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2023-09-21 10:53:27,595 INFO sqlalchemy.engine.Engine [raw sql] ('albums',)
2023-09-21 10:53:27,597 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("artists")
2023-09-21 10:53:27,609 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-21 10:53:27,611 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2023-09-21 10:53:27,612 INFO sqlalchemy.engine.Engine [raw sql] ('artists',)
2023-09-21 10:53:27,612 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("artists")
2023-09-21 10:53:27,613 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-21 10:53:27,614 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("artists")
2023-09-21 10:53:27,614 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-21 10:53:27,615 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2023-09-21 10:53:27,616 INFO sqlalchemy.engine.Engine [raw sql] ('artists',)
2023-09-21 10:53:27,617 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("artists")
2023-09-21 10:53:27,617 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-21 10:53:27,618 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("artists")
2023-09-21 10:53:27,619 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-21 10:53:27,620 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("artists")
2023-09-21 10:53:27,620 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-21 10:53:27,621 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("artists")
2023-09-21 10:53:27,622 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-21 10:53:27,623 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("artists")
2023-09-21 10:53:27,623 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-21 10:53:27,624 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("artists")
2023-09-21 10:53:27,626 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-21 10:53:27,627 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2023-09-21 10:53:27,627 INFO sqlalchemy.engine.Engine [raw sql] ('artists',)
2023-09-21 10:53:27,629 INFO sqlalchemy.engine.Engine ROLLBACK
tracks
['TrackId', 'Name', 'AlbumId', 'MediaTypeId', 'GenreId', 'Composer', 'Milliseconds', 'Bytes', 'UnitPrice']
Table('tracks', MetaData(), Column('TrackId', INTEGER(), table=<tracks>, primary_key=True, nullable=False), Column('Name', NVARCHAR(length=200), table=<tracks>, nullable=False), Column('AlbumId', INTEGER(), ForeignKey('albums.AlbumId'), table=<tracks>), Column('MediaTypeId', INTEGER(), ForeignKey('media_types.MediaTypeId'), table=<tracks>, nullable=False), Column('GenreId', INTEGER(), ForeignKey('genres.GenreId'), table=<tracks>), Column('Composer', NVARCHAR(length=220), table=<tracks>), Column('Milliseconds', INTEGER(), table=<tracks>, nullable=False), Column('Bytes', INTEGER(), table=<tracks>), Column('UnitPrice', NUMERIC(precision=10, scale=2), table=<tracks>, nullable=False), schema=None)

We can use SQL to make queries within SQLAlchemy

In [3]:
from sqlalchemy import text

with engine.connect() as con:
    stmt = "SELECT * FROM tracks" # normal sql theory for querying, it's easier to do it in a Python way, as seen later
    result_proxy = con.execute(text(stmt)) # this is done to say how much data we want
    results = result_proxy.fetchall() # contains actual data
first_row = results[0]
print(first_row) # prints first row
print(first_row.Name) # prints Name column of first row

2023-09-21 10:49:49,799 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-21 10:49:49,802 INFO sqlalchemy.engine.Engine SELECT * FROM tracks
2023-09-21 10:49:49,803 INFO sqlalchemy.engine.Engine [generated in 0.00361s] ()
2023-09-21 10:49:49,829 INFO sqlalchemy.engine.Engine ROLLBACK
(1, 'For Those About To Rock (We Salute You)', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 343719, 11170334, 0.99)
For Those About To Rock (We Salute You)

We can also use more Pyhtonic language to make queries

In [4]:
from sqlalchemy import select
with engine.connect() as con:
    stmt = select(tracks) # Pythonic select statement
    print(stmt)
    result_proxy = con.execute(stmt) # this is done to say how much data we want
    results = result_proxy.fetchmany(size=10) # fetches first ten results
print(results)

SELECT tracks."TrackId", tracks."Name", tracks."AlbumId", tracks."MediaTypeId", tracks."GenreId", tracks."Composer", tracks."Milliseconds", tracks."Bytes", tracks."UnitPrice"
FROM tracks
2023-09-21 10:49:49,863 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-21 10:49:49,864 INFO sqlalchemy.engine.Engine SELECT tracks."TrackId", tracks."Name", tracks."AlbumId", tracks."MediaTypeId", tracks."GenreId", tracks."Composer", tracks."Milliseconds", tracks."Bytes", tracks."UnitPrice"
FROM tracks
2023-09-21 10:49:49,865 INFO sqlalchemy.engine.Engine [generated in 0.00154s] ()
2023-09-21 10:49:49,867 INFO sqlalchemy.engine.Engine ROLLBACK
[(1, 'For Those About To Rock (We Salute You)', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 343719, 11170334, Decimal('0.99')), (2, 'Balls to the Wall', 2, 2, 1, None, 342562, 5510424, Decimal('0.99')), (3, 'Fast As a Shark', 3, 2, 1, 'F. Baltes, S. Kaufman, U. Dirkscneider & W. Hoffman', 230619, 3990994, Decimal('0.99')), (4, 'Restless and Wild', 3, 2, 1, 'F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. Dirkscneider & W. Hoffman', 252051, 4331779, Decimal('0.99')), (5, 'Princess of the Dawn', 3, 2, 1, 'Deaffy & R.A. Smith-Diesel', 375418, 6290521, Decimal('0.99')), (6, 'Put The Finger On You', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 205662, 6713451, Decimal('0.99')), (7, "Let's Get It Up", 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 233926, 7636561, Decimal('0.99')), (8, 'Inject The Venom', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 210834, 6852860, Decimal('0.99')), (9, 'Snowballed', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 203102, 6599424, Decimal('0.99')), (10, 'Evil Walks', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 263497, 8611245, Decimal('0.99'))]

where caluses allow us to select more specifically. and_ or_ etc allow us to use conjunctions, they differ from python conjuncitons by having an underscore after them. For instance, in_ allows us to select stuff that is in a list

In [5]:
from sqlalchemy import or_

with engine.connect() as con:
    stmt = select(tracks).where(or_(tracks.columns.AlbumId == 1, 
                                      tracks.columns.AlbumId == 2)) # Selecting all tracks where the album ID column is 1
    result_proxy = con.execute(stmt)
    results = result_proxy.fetchmany(size=10) 
print(results)

2023-09-21 10:49:49,908 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-21 10:49:49,913 INFO sqlalchemy.engine.Engine SELECT tracks."TrackId", tracks."Name", tracks."AlbumId", tracks."MediaTypeId", tracks."GenreId", tracks."Composer", tracks."Milliseconds", tracks."Bytes", tracks."UnitPrice"
FROM tracks
WHERE tracks."AlbumId" = ? OR tracks."AlbumId" = ?
2023-09-21 10:49:49,915 INFO sqlalchemy.engine.Engine [generated in 0.00695s] (1, 2)
2023-09-21 10:49:49,917 INFO sqlalchemy.engine.Engine ROLLBACK
[(1, 'For Those About To Rock (We Salute You)', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 343719, 11170334, Decimal('0.99')), (6, 'Put The Finger On You', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 205662, 6713451, Decimal('0.99')), (7, "Let's Get It Up", 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 233926, 7636561, Decimal('0.99')), (8, 'Inject The Venom', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 210834, 6852860, Decimal('0.99')), (9, 'Snowballed', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 203102, 6599424, Decimal('0.99')), (10, 'Evil Walks', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 263497, 8611245, Decimal('0.99')), (11, 'C.O.D.', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 199836, 6566314, Decimal('0.99')), (12, 'Breaking The Rules', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 263288, 8596840, Decimal('0.99')), (13, 'Night Of The Long Knives', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 205688, 6706347, Decimal('0.99')), (14, 'Spellbound', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 270863, 8817038, Decimal('0.99'))]

Ordering results, use order_by(), desc() (descending), order by multiple by passing multiple columns to sort by

In [6]:
with engine.connect() as con:
    stmt = select(tracks).order_by(tracks.columns.Composer)
    result_proxy = con.execute(stmt)
    results = result_proxy.fetchmany(size=10) 
print(results)

2023-09-21 10:49:49,960 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-21 10:49:49,969 INFO sqlalchemy.engine.Engine SELECT tracks."TrackId", tracks."Name", tracks."AlbumId", tracks."MediaTypeId", tracks."GenreId", tracks."Composer", tracks."Milliseconds", tracks."Bytes", tracks."UnitPrice"
FROM tracks ORDER BY tracks."Composer"
2023-09-21 10:49:49,970 INFO sqlalchemy.engine.Engine [generated in 0.00973s] ()
2023-09-21 10:49:49,974 INFO sqlalchemy.engine.Engine ROLLBACK
[(2, 'Balls to the Wall', 2, 2, 1, None, 342562, 5510424, Decimal('0.99')), (63, 'Desafinado', 8, 1, 2, None, 185338, 5990473, Decimal('0.99')), (64, 'Garota De Ipanema', 8, 1, 2, None, 285048, 9348428, Decimal('0.99')), (65, 'Samba De Uma Nota Só (One Note Samba)', 8, 1, 2, None, 137273, 4535401, Decimal('0.99')), (66, 'Por Causa De Você', 8, 1, 2, None, 169900, 5536496, Decimal('0.99')), (67, 'Ligia', 8, 1, 2, None, 251977, 8226934, Decimal('0.99')), (68, 'Fotografia', 8, 1, 2, None, 129227, 4198774, Decimal('0.99')), (69, 'Dindi (Dindi)', 8, 1, 2, None, 253178, 8149148, Decimal('0.99')), (70, 'Se Todos Fossem Iguais A Você (Instrumental)', 8, 1, 2, None, 134948, 4393377, Decimal('0.99')), (71, 'Falando De Amor', 8, 1, 2, None, 219663, 7121735, Decimal('0.99'))]

We can perform calculations using sqlalchemy, remember, always return a scalar not the function object!

Remember, we can use .distinct to only return distinct elements form a column eg: func.count(tracks.columns.AlbumId.distinct()) to count the total number of albums

In [7]:
from sqlalchemy import func
with engine.connect() as con:
    stmt = select(func.sum(tracks.columns.Milliseconds)) #sums the miliseconds column
    results = connection.execute(stmt).scalar()
print(results)

2023-09-21 10:49:50,011 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-21 10:49:50,027 INFO sqlalchemy.engine.Engine SELECT sum(tracks."Milliseconds") AS sum_1
FROM tracks
2023-09-21 10:49:50,028 INFO sqlalchemy.engine.Engine [generated in 0.01714s] ()
1378778040

We might also want to perform a funciton on a groupby

In [8]:
with engine.connect() as con:
    stmt = select(tracks.columns.AlbumId, func.sum(tracks.columns.Milliseconds)) # select album id and sums miliseconds
    stmt = stmt.group_by(tracks.columns.AlbumId) #groups previous statement by sex
    results = connection.execute(stmt).fetchall()
print(results)

2023-09-21 10:49:50,074 INFO sqlalchemy.engine.Engine SELECT tracks."AlbumId", sum(tracks."Milliseconds") AS sum_1
FROM tracks GROUP BY tracks."AlbumId"
2023-09-21 10:49:50,076 INFO sqlalchemy.engine.Engine [generated in 0.00121s] ()
[(1, 2400415), (2, 342562), (3, 858088), (4, 2453259), (5, 4411709), (6, 3450925), (7, 3249365), (8, 2906926), (9, 2671407), (10, 3927713), (11, 3224237), (12, 1615722), (13, 2680524), (14, 4059919), (15, 1447755), (16, 2294801), (17, 2601921), (18, 3192389), (19, 3694022), (20, 2636849), (21, 3819382), (22, 959711), (23, 7875643), (24, 4238776), (25, 3016667), (26, 3941268), (27, 3435043), (28, 2559734), (29, 2822944), (30, 4489920), (31, 2465929), (32, 3926015), (33, 3701306), (34, 4221459), (35, 3946339), (36, 4558541), (37, 4575025), (38, 3497581), (39, 3645509), (40, 3618267), (41, 2935452), (42, 3351947), (43, 3484627), (44, 2344853), (45, 4388174), (46, 4500551), (47, 3409704), (48, 4597570), (49, 4398808), (50, 3728376), (51, 4637011), (52, 3293850), (53, 2858678), (54, 4086691), (55, 4499818), (56, 3395232), (57, 3483867), (58, 2236992), (59, 2535756), (60, 2359767), (61, 3876071), (62, 2258595), (63, 3749220), (64, 2815003), (65, 2197077), (66, 3018129), (67, 4401077), (68, 3440820), (69, 3626756), (70, 3658206), (71, 3095920), (72, 4373202), (73, 8113276), (74, 2586640), (75, 3709719), (76, 3589791), (77, 3325748), (78, 2842456), (79, 2409295), (80, 2596358), (81, 3303622), (82, 2815290), (83, 4539941), (84, 4165844), (85, 2886236), (86, 3917106), (87, 915904), (88, 2846138), (89, 3437890), (90, 3230986), (91, 4567332), (92, 4557211), (93, 4421323), (94, 4755239), (95, 3587182), (96, 3537994), (97, 4021860), (98, 4083559), (99, 3517930), (100, 2446938), (101, 2323691), (102, 5827856), (103, 3105614), (104, 3621377), (105, 2652573), (106, 2752884), (107, 3036312), (108, 3386588), (109, 3584753), (110, 2641785), (111, 3084379), (112, 2413815), (113, 4267801), (114, 3194615), (115, 4211242), (116, 3327211), (117, 3180664), (118, 3967524), (119, 2919830), (120, 3618056), (121, 2259724), (122, 4571265), (123, 3016355), (124, 3065723), (125, 3973111), (126, 3405368), (127, 4699108), (128, 1981123), (129, 2454435), (130, 2555478), (131, 2557462), (132, 2690399), (133, 2498869), (134, 2580189), (135, 2619555), (136, 2668613), (137, 2943971), (138, 3037439), (139, 4022509), (140, 4144347), (141, 15065731), (142, 3153886), (143, 3314460), (144, 2477370), (145, 3433813), (146, 3488122), (147, 2602784), (148, 3759224), (149, 4251893), (150, 3080852), (151, 4738605), (152, 3286175), (153, 4566304), (154, 2850688), (155, 4507057), (156, 3928993), (157, 3134243), (158, 2815263), (159, 3102844), (160, 2735483), (161, 2645702), (162, 4435165), (163, 3243381), (164, 2557066), (165, 3594651), (166, 3019828), (167, 4523796), (168, 2507828), (169, 3615574), (170, 257252), (171, 608940), (172, 290851), (173, 695944), (174, 4372837), (175, 3649040), (176, 3489692), (177, 2547615), (178, 4278954), (179, 2983857), (180, 3256468), (181, 3205871), (182, 2777674), (183, 2572638), (184, 2967110), (185, 3508522), (186, 2361438), (187, 2650117), (188, 2462010), (189, 3933120), (190, 3570407), (191, 1738470), (192, 2833311), (193, 4437073), (194, 4129951), (195, 3385461), (196, 4548694), (197, 4303879), (198, 4043543), (199, 3193621), (200, 2694369), (201, 4211532), (202, 4450707), (203, 4752029), (204, 2476665), (205, 2468671), (206, 3218749), (207, 2172650), (208, 4030534), (209, 3299705), (210, 2966383), (211, 3864679), (212, 3062903), (213, 4652740), (214, 2669734), (215, 3578900), (216, 2311283), (217, 4072169), (218, 3730984), (219, 4033036), (220, 2973541), (221, 4580064), (222, 2620336), (223, 2894883), (224, 4312233), (225, 3420285), (226, 2622250), (227, 52787041), (228, 59780268), (229, 70665582), (230, 64854936), (231, 63289631), (232, 3328489), (233, 2964604), (234, 3594885), (235, 2949351), (236, 3612572), (237, 4348126), (238, 3935916), (239, 2529903), (240, 3023251), (241, 3523466), (242, 1890424), (243, 4349980), (244, 2133413), (245, 3923402), (246, 3417071), (247, 3254721), (248, 4065140), (249, 7975164), (250, 28636206), (251, 38317095), (252, 310774), (253, 70213784), (254, 2484567), (255, 5134886), (256, 4215305), (257, 3448442), (258, 3269060), (259, 4428843), (260, 234013), (261, 39468433), (262, 553888), (263, 586442), (264, 693207), (265, 411967), (266, 172710), (267, 266936), (268, 356426), (269, 3316905), (270, 3292399), (271, 3503638), (272, 245317), (273, 501503), (274, 271788), (275, 199086), (276, 193722), (277, 120463), (278, 143288), (279, 582029), (280, 465201), (281, 348971), (282, 394482), (283, 306687), (284, 392462), (285, 338243), (286, 274504), (287, 189008), (288, 258924), (289, 304226), (290, 250031), (291, 277639), (292, 522099), (293, 176911), (294, 596519), (295, 156710), (296, 198064), (297, 153901), (298, 254001), (299, 545203), (300, 307244), (301, 560342), (302, 243436), (303, 406000), (304, 391000), (305, 223583), (306, 483133), (307, 254930), (308, 412000), (309, 240666), (310, 275015), (311, 526696), (312, 561967), (313, 132932), (314, 202962), (315, 120000), (316, 253422), (317, 174813), (318, 101293), (319, 253281), (320, 362933), (321, 2544050), (322, 3035807), (323, 215386), (324, 339567), (325, 299350), (326, 387826), (327, 225933), (328, 110266), (329, 289388), (330, 567494), (331, 364296), (332, 385506), (333, 142081), (334, 376510), (335, 285673), (336, 234746), (337, 333669), (338, 286998), (339, 265541), (340, 51780), (341, 261849), (342, 493573), (343, 286741), (344, 139200), (345, 66639), (346, 221331), (347, 206005)]

We can use sqlalchemy results to set up a pandas df

In [9]:
import pandas as pd

with engine.connect() as con:
    stmt = select(tracks).order_by(tracks.columns.Composer)
    result_proxy = con.execute(stmt)
    results = result_proxy.fetchmany(size=10) 
print(results)

df=pd.DataFrame(results)
print(df.info())
print(df)

2023-09-21 10:49:50,387 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-21 10:49:50,388 INFO sqlalchemy.engine.Engine SELECT tracks."TrackId", tracks."Name", tracks."AlbumId", tracks."MediaTypeId", tracks."GenreId", tracks."Composer", tracks."Milliseconds", tracks."Bytes", tracks."UnitPrice"
FROM tracks ORDER BY tracks."Composer"
2023-09-21 10:49:50,390 INFO sqlalchemy.engine.Engine [cached since 0.4294s ago] ()
2023-09-21 10:49:50,393 INFO sqlalchemy.engine.Engine ROLLBACK
[(2, 'Balls to the Wall', 2, 2, 1, None, 342562, 5510424, Decimal('0.99')), (63, 'Desafinado', 8, 1, 2, None, 185338, 5990473, Decimal('0.99')), (64, 'Garota De Ipanema', 8, 1, 2, None, 285048, 9348428, Decimal('0.99')), (65, 'Samba De Uma Nota Só (One Note Samba)', 8, 1, 2, None, 137273, 4535401, Decimal('0.99')), (66, 'Por Causa De Você', 8, 1, 2, None, 169900, 5536496, Decimal('0.99')), (67, 'Ligia', 8, 1, 2, None, 251977, 8226934, Decimal('0.99')), (68, 'Fotografia', 8, 1, 2, None, 129227, 4198774, Decimal('0.99')), (69, 'Dindi (Dindi)', 8, 1, 2, None, 253178, 8149148, Decimal('0.99')), (70, 'Se Todos Fossem Iguais A Você (Instrumental)', 8, 1, 2, None, 134948, 4393377, Decimal('0.99')), (71, 'Falando De Amor', 8, 1, 2, None, 219663, 7121735, Decimal('0.99'))]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   TrackId       10 non-null     int64
 1   Name          10 non-null     object
 2   AlbumId       10 non-null     int64
 3   MediaTypeId   10 non-null     int64
 4   GenreId       10 non-null     int64
 5   Composer      0 non-null      object
 6   Milliseconds  10 non-null     int64
 7   Bytes         10 non-null     int64
 8   UnitPrice     10 non-null     object
dtypes: int64(6), object(3)
memory usage: 848.0+ bytes
None
   TrackId                                          Name  AlbumId  \
0        2                             Balls to the Wall        2
1       63                                    Desafinado        8
2       64                             Garota De Ipanema        8
3       65         Samba De Uma Nota Só (One Note Samba)        8
4       66                             Por Causa De Você        8
5       67                                         Ligia        8
6       68                                    Fotografia        8
7       69                                 Dindi (Dindi)        8
8       70  Se Todos Fossem Iguais A Você (Instrumental)        8
9       71                               Falando De Amor        8

   MediaTypeId  GenreId Composer  Milliseconds    Bytes UnitPrice
0            2        1     None        342562  5510424      0.99
1            1        2     None        185338  5990473      0.99
2            1        2     None        285048  9348428      0.99
3            1        2     None        137273  4535401      0.99
4            1        2     None        169900  5536496      0.99
5            1        2     None        251977  8226934      0.99
6            1        2     None        129227  4198774      0.99
7            1        2     None        253178  8149148      0.99
8            1        2     None        134948  4393377      0.99
9            1        2     None        219663  7121735      0.99

Calculations can be done relatively simply. We can use case statements to use conditions to apply conditions to our selects.

In [10]:
from sqlalchemy import case # for case statements

with engine.connect() as con:
    stmt = select(tracks.columns.TrackId, (tracks.columns.Bytes / tracks.columns.Milliseconds).label(
    'Bytes per millisecond'))
    result_proxy = con.execute(stmt) # only return top 5 results
    results = result_proxy.fetchmany(size=10) 
print(results)

2023-09-21 10:49:50,412 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-21 10:49:50,415 INFO sqlalchemy.engine.Engine SELECT tracks."TrackId", tracks."Bytes" / (tracks."Milliseconds" + 0.0) AS "Bytes per millisecond"
FROM tracks
2023-09-21 10:49:50,415 INFO sqlalchemy.engine.Engine [generated in 0.00335s] ()
2023-09-21 10:49:50,417 INFO sqlalchemy.engine.Engine ROLLBACK
[(1, Decimal('32.4984478600')), (2, Decimal('16.0859172938')), (3, Decimal('17.3055732615')), (4, Decimal('17.1861210628')), (5, Decimal('16.7560452615')), (6, Decimal('32.6431280450')), (7, Decimal('32.6451997640')), (8, Decimal('32.5035810163')), (9, Decimal('32.4931512245')), (10, Decimal('32.6806187547'))]

In [11]:
from sqlalchemy import case, cast, Float

# Total millisecond of just album id 1
with engine.connect() as con:
    album_1 = func.sum(case((tracks.columns.TrackId == 1, tracks.columns.Milliseconds),
                           else_=0))
    total_length = cast(func.sum(tracks.columns.Milliseconds), Float) # total length of all tracks
    
    stmt = select (album_1 / total_length * 100)
    
    result = con.execute(stmt).scalar()
print(result)

2023-09-21 10:49:50,457 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-21 10:49:50,458 INFO sqlalchemy.engine.Engine SELECT (sum(CASE WHEN (tracks."TrackId" = ?) THEN tracks."Milliseconds" ELSE ? END) / (CAST(sum(tracks."Milliseconds") AS FLOAT) + 0.0)) * ? AS anon_1
FROM tracks
2023-09-21 10:49:50,459 INFO sqlalchemy.engine.Engine [generated in 0.00195s] (1, 0, 100)
2023-09-21 10:49:50,461 INFO sqlalchemy.engine.Engine ROLLBACK
0.024929248220402468

Things simon thinks would be useful: aggregating in sql, union (concat), join (merge), select distinct (selectr distinct from table), dealing with nulls

In [12]:
artists = Table('artists', metadata, autoload_with=engine)
albums = Table('albums', metadata, autoload_with=engine)

stmt = select(albums)
with engine.connect() as con:
    result = con.execute(stmt)
    print(result.fetchmany(size=10))

2023-09-21 10:49:50,511 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-21 10:49:50,512 INFO sqlalchemy.engine.Engine SELECT albums."AlbumId", albums."Title", albums."ArtistId"
FROM albums
2023-09-21 10:49:50,513 INFO sqlalchemy.engine.Engine [generated in 0.00218s] ()
[(1, 'For Those About To Rock We Salute You', 1), (2, 'Balls to the Wall', 2), (3, 'Restless and Wild', 2), (4, 'Let There Be Rock', 1), (5, 'Big Ones', 3), (6, 'Jagged Little Pill', 4), (7, 'Facelift', 5), (8, 'Warner 25 Anos', 6), (9, 'Plays Metallica By Four Cellos', 7), (10, 'Audioslave', 8)]
2023-09-21 10:49:50,514 INFO sqlalchemy.engine.Engine ROLLBACK

If, in our select statement, we select columns/tables from multiple tables, can perform a join on then, which is done as it's a relational DB

join clauses can be used if a relationship is not predefined in a table, we caqn do this by passing join to a select_from.

In [13]:
# with predefined relationship
with engine.connect() as con:
    stmt = select(artists.columns.Name, tracks.columns.Name)
    results = con.execute(stmt).fetchmany(size=20)
print(results)

# without
with engine.connect() as con:
    #stmt = select([func.sum(tracks.columns.Milliseconds)])
    stmt = stmt.select_from(
    tracks.join(albums, tracks.columns.AlbumId == albums.columns.AlbumId))
    results = con.execute(stmt).fetchmany(size=20)
print(results)

2023-09-21 10:49:50,557 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-21 10:49:50,558 INFO sqlalchemy.engine.Engine SELECT artists."Name", tracks."Name" AS "Name_1"
FROM artists, tracks
2023-09-21 10:49:50,559 INFO sqlalchemy.engine.Engine [generated in 0.00255s] ()
2023-09-21 10:49:50,560 INFO sqlalchemy.engine.Engine ROLLBACK
[('AC/DC', 'For Those About To Rock (We Salute You)'), ('AC/DC', 'Balls to the Wall'), ('AC/DC', 'Fast As a Shark'), ('AC/DC', 'Restless and Wild'), ('AC/DC', 'Princess of the Dawn'), ('AC/DC', 'Put The Finger On You'), ('AC/DC', "Let's Get It Up"), ('AC/DC', 'Inject The Venom'), ('AC/DC', 'Snowballed'), ('AC/DC', 'Evil Walks'), ('AC/DC', 'C.O.D.'), ('AC/DC', 'Breaking The Rules'), ('AC/DC', 'Night Of The Long Knives'), ('AC/DC', 'Spellbound'), ('AC/DC', 'Go Down'), ('AC/DC', 'Dog Eat Dog'), ('AC/DC', 'Let There Be Rock'), ('AC/DC', 'Bad Boy Boogie'), ('AC/DC', 'Problem Child'), ('AC/DC', 'Overdose')]
2023-09-21 10:49:50,562 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-21 10:49:50,563 INFO sqlalchemy.engine.Engine SELECT artists."Name", tracks."Name" AS "Name_1"
FROM tracks JOIN albums ON tracks."AlbumId" = albums."AlbumId", artists
2023-09-21 10:49:50,564 INFO sqlalchemy.engine.Engine [generated in 0.00132s] ()
2023-09-21 10:49:50,565 INFO sqlalchemy.engine.Engine ROLLBACK
[('AC/DC', 'For Those About To Rock (We Salute You)'), ('Accept', 'For Those About To Rock (We Salute You)'), ('Aerosmith', 'For Those About To Rock (We Salute You)'), ('Alanis Morissette', 'For Those About To Rock (We Salute You)'), ('Alice In Chains', 'For Those About To Rock (We Salute You)'), ('Antônio Carlos Jobim', 'For Those About To Rock (We Salute You)'), ('Apocalyptica', 'For Those About To Rock (We Salute You)'), ('Audioslave', 'For Those About To Rock (We Salute You)'), ('BackBeat', 'For Those About To Rock (We Salute You)'), ('Billy Cobham', 'For Those About To Rock (We Salute You)'), ('Black Label Society', 'For Those About To Rock (We Salute You)'), ('Black Sabbath', 'For Those About To Rock (We Salute You)'), ('Body Count', 'For Those About To Rock (We Salute You)'), ('Bruce Dickinson', 'For Those About To Rock (We Salute You)'), ('Buddy Guy', 'For Those About To Rock (We Salute You)'), ('Caetano Veloso', 'For Those About To Rock (We Salute You)'), ('Chico Buarque', 'For Those About To Rock (We Salute You)'), ('Chico Science & Nação Zumbi', 'For Those About To Rock (We Salute You)'), ('Cidade Negra', 'For Those About To Rock (We Salute You)'), ('Cláudio Zoli', 'For Those About To Rock (We Salute You)')]

/tmp/ipykernel_25188/4005915974.py:4: SAWarning: SELECT statement has a cartesian product between FROM element(s) "artists" and FROM element "tracks".  Apply join condition(s) between each element to resolve.
  results = con.execute(stmt).fetchmany(size=20)
/tmp/ipykernel_25188/4005915974.py:12: SAWarning: SELECT statement has a cartesian product between FROM element(s) "artists" and FROM element "albums".  Apply join condition(s) between each element to resolve.
  results = con.execute(stmt).fetchmany(size=20)

Querying hierarchical data is done by using an alias on the column we want, then we can make a query joining back to the original table

In [14]:
# If managers are also in an employee list, you could do:

# managers = employees.alias()
# stmt = select([managers.columns.name.label('manger')
#              employees.columns.name.label('employee')])
# stmt = stmt.select_from(employees.join(managers, managers.columns.id == employees.columns.manager))
# stmt = stmt.order_by(managers.columns.name)

To look at large datasets, it can be helful to load parts in a while loop

In [15]:
# stmt = select([tracks])
# with engine.connect() as con:
#     result_proxy = con.execute(stmt)
#     while more_results:
#         partial_results = results_proxy.fetchmany(50)
#         if partial_results == []:
#             more_results = False
#         for row in partial_results:
#             if row.state in state_count:
#                 state_count[row.state] +=1
#             else:
#                 state_count[row.state] = 1
#     results.proxy.close()

SQLalchemy gives us a framework to make databases/tables. Normally this isn't simple and requires a commandline tool to initialse a database, but SQLite will make a database if you provide afilename that doesn't exist yet

In [16]:
#from decimal import Decima
from sqlalchemy import (Table, Column, String, Integer, DECIMAL, Boolean)

employees = Table('employees', metadata,
                 Column('id', Integer()),
                 Column('name', String(255), unique=True, nullable=False),
                  Column('salary', Float(), default=100.00),
                  Column('active', Boolean(), default=True))
metadata.create_all(engine)
engine.table_names()
employees.constraints

2023-09-21 10:49:50,676 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-21 10:49:50,677 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("tracks")
2023-09-21 10:49:50,678 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-21 10:49:50,678 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("media_types")
2023-09-21 10:49:50,679 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-21 10:49:50,680 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("genres")
2023-09-21 10:49:50,680 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-21 10:49:50,681 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("albums")
2023-09-21 10:49:50,684 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-21 10:49:50,685 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("artists")
2023-09-21 10:49:50,686 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-21 10:49:50,686 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("employees")
2023-09-21 10:49:50,687 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-21 10:49:50,688 INFO sqlalchemy.engine.Engine COMMIT

AttributeError: 'Engine' object has no attribute 'table_names'